@page "/catalogs/devicemodels"

@using XTaho.Data.WebApp.Models.Catalogs;
@using XTaho.Data.WebApp.Services;
@using XTaho.Data.WebApp.DataAccess.PostgreSql;

@inject IJSRuntime JS;
@inject DeviceModelsService DMService;


<div class="page__content">
    <div class="page__header">
        <span>Модели устройств</span>
    </div>

    <div class="table__wrapper">
        <div class="table__panel">
            <button class="btn add" @onclick="btnAddItemOnclick">Добавить</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Наименование</th>
                    <th>Номер</th>
                    <th>Регистрационный номер</th>
                    <th>Описание</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in models)
                {
                    <tr class=@(item.IsDeleted ? "deletion-mark" : "")>
                        <td><a class=@(item.IsDeleted ? "btn__link hidden" : "btn__link") @onclick="(() => btnEditItemOnClick(item))"><img src="frontend/src/img/btn/edit.svg" /></a></td>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Number</td>
                        <td>@item.RegistrationNumber</td>
                        <td>@item.Description</td>
                        <td><a class="btn__link" @onclick="(() => btnSetDeletionMark(item))"><img src="frontend/src/img/btn/delete.svg" /></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="popup_item" class="popup">
    <div class="popup__body">
        <div id="popup_item-content" class="popup__content">
            <a class="popup__close" @onclick=btnCloseItemOnClick>&#9587</a>
            <div class="popup__header">
                @(currentItem.Name ?? "Новая модель ")
            </div>
            <div class="popup__main">
                <label>#</label>
                <input type="text" class="input__field w-50" disabled @bind="currentItem.Id" />
                <label>Наименование</label>
                <input type="text" class="input__field w-300" @bind="currentItem.Name" placeholder="Наименование" />
                <label>Номер модели</label>
                <input type="text" maxlength="13" class="input__field w-300" @bind="currentItem.Number" placeholder="Номер" />
                <label>Регистрационный номер</label>
                <input type="text" maxlength="13" class="input__field w-300" @bind="currentItem.RegistrationNumber" placeholder="Регистрационный номер" />
                <label>Описание</label>
                <textarea class="input__field text-area w-300" @bind="currentItem.Description" placeholder="Описание" />
                <label>Пометка удаления</label>
                <input class="input__checkbox" type="checkbox" @bind="currentItem.IsDeleted" />
            </div>
            <div class="popup__footer">
                <div class="popup__footer-rcol">
                    <button class="btn add" @onclick=btnSaveItemOnClick>Сохранить</button>
                    <button class="btn close" @onclick=btnCloseItemOnClick>Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<DeviceModelsModel> models = new List<DeviceModelsModel>();
    private DeviceModelsModel currentItem = new DeviceModelsModel();
    private bool isNewItem = true;

    #region DOM

    private async Task ChangeElementClassList(string elementId, string className)
    {
        await JS.InvokeVoidAsync("changeElementClassList", elementId, className);
    }

    private async Task<bool> Alert(string? text)
    {
        return await JS.InvokeAsync<bool>("confirm", $"{text ?? "Ошибка"}!");
    }

    #endregion

    protected override async Task OnInitializedAsync()
    {
        await UpdateModels();
    }

    private async Task UpdateModels()
    {
        QueryResult<DeviceModelsModel> result = await DMService.GetDeviceModelsListAsync();
        if (result.Success)
        {
            models = result.Collection ?? new List<DeviceModelsModel>();
        }
    }

    private async Task btnAddItemOnclick()
    {
        currentItem = new DeviceModelsModel();
        isNewItem = true;
        await ChangeElementClassList("popup_item", "show");
        await ChangeElementClassList("popup_item-content", "show");
    }

    private async Task btnEditItemOnClick(DeviceModelsModel item)
    {
        currentItem = item;
        isNewItem = false;
        await ChangeElementClassList("popup_item", "show");
        await ChangeElementClassList("popup_item-content", "show");
    }

    private async Task btnSetDeletionMark(DeviceModelsModel item)
    {
        bool currentStage = item.IsDeleted;
        item.IsDeleted = !item.IsDeleted;
        ExecuteResult result = await DMService.UpdateModelAsync(item);
        if (result.Success) { }
        else
        {
            item.IsDeleted = currentStage;
            await Alert(result.ErrorDescription);
        }
    }

    private async Task btnCloseItemOnClick()
    {
        await ChangeElementClassList("popup_item", "show");
        await ChangeElementClassList("popup_item-content", "show");
    }

    private async Task btnSaveItemOnClick()
    {
        bool canChangeClassList = true;
        ExecuteResult result;
        if (isNewItem)
        {
            result = await DMService.AddModelAsync(currentItem);
            if (result.Success)
            {
                models.Add(currentItem);
            }
            else
            {
                canChangeClassList = false;
                await Alert(result.ErrorDescription);
            }
        }
        else
        {
            result = await DMService.UpdateModelAsync(currentItem);
            if (result.Success) { }
            else
            {
                canChangeClassList = false;
                await Alert(result.ErrorDescription);
            }
        }
        if (canChangeClassList)
        {
            await btnCloseItemOnClick();
        }
    }
}