@page "/catalogs/members"

@using XTaho.Data.WebApp.Models.Catalogs;
@using XTaho.Data.WebApp.Services;
@using XTaho.Data.WebApp.DataAccess.PostgreSql;

@inject MembersService MService;


<div class="page">
    <div class="page__caption">
        <h4>Участники системы</h4>
    </div>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            <button class="btn btn-outline-success" @onclick="btnAddItemOnclick" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Добавить</button>
        </div>
    </div>
    <table class="table caption-top">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Наименование</th>
                <th scope="col">ИНН</th>
                <th scope="col">Описание</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in members)
            {
                <tr class=@(item.IsDeleted ? "tr deletion-mark" : "tr")>
                    <td><a class=@(item.IsDeleted ? "btn__link hidden" : "btn__link") @onclick="@(() => btnEditItemOnClick(item))" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><img src="src/img/btn/edit.svg" /></a></td>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.INN</td>
                    <td>@item.Description</td>
                    <td><a class="btn__link" @onclick="@(() => btnSetDeletionMark(item))"><img src="src/img/btn/delete.svg" /></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Участник системы @(isNewItem ? "" : "#" + currentItem.Id) </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row-1" @onsubmit="btnSaveItemOnClick">
                    <div class="col">
                        <label for="name" class="form-label">Наименование</label>
                        <input type="text" class="form-control" id="name" placeholder="введите наименование (обязательно)" @bind="currentItem.Name" required>
                    </div>
                    <div class="col">
                        <label for="inn" class="form-label">ИНН</label>
                        <input type="text" class="form-control" id="inn" maxlength="13" placeholder="до 13 знаков (обязательно)" @bind="currentItem.INN" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Описание</label>
                        <textarea class="form-control" id="description" placeholder="введите описание участника системы (необязательно)" rows="3" @bind="currentItem.Description"></textarea>
                    </div>
                    <div class=@alertItemClassList role="alert">
                        <h5 class="alert-heading">
                            @(string.IsNullOrEmpty(errorDescription) ? "Ошибок нет!" : "Внимание!")
                        </h5>
                        <hr />
                        <p>
                            @(string.IsNullOrEmpty(errorDescription) ? "Данные записаны" : errorDescription)
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-outline-success">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




@code {
    private List<MemberModel> members = new List<MemberModel>();
    private MemberModel currentItem = new MemberModel();
    private bool isNewItem = true;
    private string errorDescription = "";
    private string alertItemClassList = "alert xalert";

    private void resetError()
    {
        errorDescription = "";
        alertItemClassList = "alert xalert";
    }

    private void setError(string eDescription)
    {
        errorDescription = eDescription;
        alertItemClassList = alertItemClassList + " alert-danger xshow";
    }

    private void setNoError()
    {
        errorDescription = "";
        alertItemClassList = alertItemClassList + " alert-success xshow";
    }

    protected override async Task OnInitializedAsync()
    {
        await UpdateMembers();
    }

    private async Task UpdateMembers()
    {
        QueryResult<MemberModel> result = await MService.GetMembersListAsync();
        if (result.Success)
        {
            members = result.Collection ?? new List<MemberModel>();
        }
    }

    private void btnAddItemOnclick()
    {
        resetError();
        currentItem = new MemberModel();
        isNewItem = true;
    }

    private void btnEditItemOnClick(MemberModel item)
    {
        resetError();
        currentItem = item;
        isNewItem = false;
    }

    private async Task btnSetDeletionMark(MemberModel item)
    {
        bool currentStage = item.IsDeleted;
        item.IsDeleted = !item.IsDeleted;
        ExecuteResult result = await MService.UpdateMemberAsync(item);
        if (result.Success) { }
        else
        {
            item.IsDeleted = currentStage;
        }
    }

    private async Task btnSaveItemOnClick()
    {
        resetError();
        ExecuteResult result;
        if (isNewItem)
        {
            result = await MService.AddMemberAsync(currentItem);
        }
        else
        {
            result = await MService.UpdateMemberAsync(currentItem);
        }
        if(result.Success)
        {
            setNoError();
            await UpdateMembers();
        }
        else
        {
            setError(result.ErrorDescription ?? "Ошибка!");
        }
    }
}